/* 
---------------------------------------------
testimonials
--------------------------------------------- 
*/
.slider {
  position: relative;
}
.slider .owl-item.active.center .slider-card {
  transform: scale(1.15);
  opacity: 1;
  background: var(--main-color) !important;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #ff5e62, #ff9966);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #ff5e62, #ff9966);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: var(--white-color);
}
.slider .slider-card {
  background: var(--white-color);
  padding: 0px 0px;
  margin: 50px 15px 90px 15px;
  border-radius: 5px;
  box-shadow: 0 15px 45px -20px rgba(0, 0, 0, 0.73);
  transform: scale(0.9);
  opacity: 0.5;
  transition: all 0.3s;
}

.owl-nav .owl-prev {
  position: absolute;
  top: calc(50% - 25px);
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
  color: var(--main-color) !important;
  left: 0;
}
.owl-nav .owl-next {
  position: absolute;
  top: calc(50% - 25px);
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
  color: var(--main-color) !important;
  right: 0;
}

.owl-dots {
  text-align: center;
}

.owl-dots .owl-dot {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background: #ccc !important;
  margin-left: 3px;
  margin-right: 3px;
  outline: none;
}

.owl-dots .owl-dot.active {
  background: var(--main-color) !important;
}

.gallery .filter-item {
  border: var(--border);
  color: var(--main-color);
  cursor: pointer;
  transition: 1s;
}
.gallery .filter-item.active {
  color: var(--white-color);
  background-color: var(--main-color);
}
.gallery .gallery-item {
  display: none;
  transition: 2s;
}
.gallery .gallery-item.room {
  display: block;
}
.gallery .gallery-item.show {
  display: block;
  animation: fadeIn 1.5s ease-in-out;
}
.gallery .gallery-item.hide {
  display: none;
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

header {
  background: linear-gradient(rgba(16, 29, 44, 0.5), rgba(16, 29, 44, 0.5)), url("../img/web-coverbanner-900x600-1558625354.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 90vh;
  position: relative;
}
header .bg-dark {
  background-color: transparent !important;
}
header .bgColor.scrolled {
  background-color: var(--white-color) !important;
  color: var(--main-color) !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
header ul li a {
  position: relative;
}
header .nav-link::before {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 2px;
  width: 100%;
  left: 0;
  background-color: var(--main-color);
  transform-origin: center;
  transform: scaleX(0);
  transition: transform 650ms;
}
header .nav-link:hover::before {
  transform: scaleX(1);
}
header .input-group [class~=fa-search] {
  color: var(--main-color) !important;
}
header .input-group input {
  border: var(--border);
}
header .input-group input ::placeholder {
  color: var(--main-color);
}
header .info {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
header .info .btn {
  color: var(--white-color);
  border: var(--border);
}
header .info .btn:hover {
  color: var(--white-color);
  background-color: var(--main-color);
}

.home {
  overflow-x: hidden;
}
.home .d-flex a {
  border: var(--border);
}
.home .d-flex a:hover {
  background-color: var(--main-color);
  color: var(--white-color);
}
.home .btn {
  border: 1px solid #17a2b8;
  position: relative;
  overflow: hidden;
  background-color: #17a2b8;
  color: white;
}
.home .btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.3), transparent);
  transition: all 650ms;
}
.home .btn:hover::before {
  left: 100%;
  color: white !important;
}

.chairs [class^=col],
.rooms [class^=col],
.curtains [class^=col],
.kitchen [class^=col], .testimonials [class^=col] {
  transition: 1s;
}
.chairs [class^=col]:hover,
.rooms [class^=col]:hover,
.curtains [class^=col]:hover,
.kitchen [class^=col]:hover, .testimonials [class^=col]:hover {
  transform: scale(1.1);
}
.chairs h3,
.rooms h3,
.curtains h3,
.kitchen h3, .testimonials h3 {
  color: var(--main-color);
}
.chairs .btn,
.rooms .btn,
.curtains .btn,
.kitchen .btn, .testimonials .btn {
  border: 1px solid #17a2b8;
  position: relative;
  overflow: hidden;
  background-color: #17a2b8;
  color: white;
}
.chairs .btn::before,
.rooms .btn::before,
.curtains .btn::before,
.kitchen .btn::before, .testimonials .btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.3), transparent);
  transition: all 650ms;
}
.chairs .btn:hover::before,
.rooms .btn:hover::before,
.curtains .btn:hover::before,
.kitchen .btn:hover::before, .testimonials .btn:hover::before {
  left: 100%;
  color: white !important;
}

.contact {
  background-color: rgba(192, 243, 243, 0.2);
}
.contact .btn {
  color: var(--white-color);
  border: var(--border);
  background-color: var(--white-color);
  color: var(--main-color);
}
.contact .btn:hover {
  color: var(--white-color);
  background-color: var(--main-color);
}
.contact .form-control {
  border: none;
  border-bottom: 1px solid var(--main-color);
  background-color: transparent;
}
.contact textarea {
  resize: none;
}

footer .fa-star {
  color: rgb(232, 232, 31);
}
footer .fa-facebook {
  color: #0842a0;
}
footer .fa-twitter {
  color: #1b6ef3;
}
footer .fa-instagram {
  color: rgb(157, 11, 62);
}
footer .fa-google-plus-g {
  color: rgb(232, 16, 16);
}

:root {
  --main-color:#17a2b8;
  --white-color: #fff;
  --border: 1px solid #17a2b8;
}

@media screen and (max-width: 800px) {
  header {
    height: 50vh;
  }
  header .navbar-nav {
    width: 100%;
  }
  header .navbar-nav .dropdown-menu li a {
    text-align: center;
  }
  .chairs [class^=col], .rooms [class^=col], .curtains [class^=col], .kitchen [class^=col] {
    padding: 30px;
    transition: 1s;
  }
  .chairs [class^=col]:hover, .rooms [class^=col]:hover, .curtains [class^=col]:hover, .kitchen [class^=col]:hover {
    transform: scale(1.1);
    overflow-x: hidden;
  }
  .chairs h3, .rooms h3, .curtains h3, .kitchen h3 {
    margin-left: 20px;
  }
  .img-contact {
    height: 50vh;
  }
}
@media screen and (max-width: 1024px) {
  header {
    height: 70vh;
  }
  .img-contact {
    height: 50vh;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
